[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
bump2version = "*"
pytest = "~=6.0"
tox = "~=3.2"
pytest-dbt-adapter = "~=0.4.0"
dbt-mysql = {editable = true, path = "."}

[packages]
mysql-connector-python = "*"
dbt-core = "==0.19.0"

[requires]
python_version = ">=3.6.2"

[pipenv]
allow_prereleases = true
