dbt-core==0.19.1
mysql-connector-python>=8.0.0,<8.1

# dbt's 3rd level dependency broken, so locking said dependency "agate" to working version 1.6.1
agate==1.6.1

# dependency broken so lock to working version
markupsafe==2.0.1
